.inputSection {
  width: 50%;
  margin: auto;
  height: 100px;
}

.inputSection input {
  height: 40px;
  width: 70%;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 2rem;
}

.inputSection button {
  height: 40px;
  width: 15%;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 15px;
  background-color: green;
  color: white;
}
